@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}
:root {
    --white: #fff;
    --black: #000;
}
body {
    background: #191d24;
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #000;
}
body::-webkit-scrollbar-thumb {
    background: #191d24;
    border-radius: 10px;
}
ol,
ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}
del {
    text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
    display: block;
}

input,
textarea,
select {
    font-family: sans-serif;
    /* ?skjdhkjshf */
}
.image {
    width: 100%;
    height: 100%;
    display: inline-block;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.wrapper {
    /* width: 90%;
  margin: 0 auto;
  max-width: 1360px; */
}
@font-face {
    font-family: "inter_regular";
    font-style: normal;
    font-weight: normal;
    src: url(../../public/fonts/Inter-Regular.woff) format("woff");
}
@font-face {
    font-family: "inter_medium";
    font-style: normal;
    font-weight: normal;
    src: url(../../public/fonts/Inter-Medium.woff) format("woff");
}

@font-face {
    font-family: "inter_bold";
    font-style: normal;
    font-weight: normal;
    src: url(../../public/fonts/Inter-Bold.woff) format("woff");
}

@font-face {
    font-family: "inter_light";
    font-style: normal;
    font-weight: normal;
    src: url(../../public/fonts/Inter-Light.woff) format("woff");
}

.font_light {
    font-family: "inter_light" !important;
}
.font-normal {
    font-family: "inter_regular" !important;
}

.font-medium {
    font-family: "inter_medium" !important;
}

.font-bold {
    font-family: "inter_bold" !important;
}
.primary-color {
    color: #fff;
}
.secondry-color {
    color: #9f9f9f;
}

.wrapper-main {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.table-loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #f16a22;
    animation: l15 1s infinite linear;
}
.table-loader::before,
.table-loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}
.table-loader::after {
    margin: 8px;
    animation-duration: 3s;
}
@keyframes l15 {
    100% {
        transform: rotate(1turn);
    }
}
.css-umzx0k-MuiClock-pin {
    background: #f16a22 !important;
}
.css-d0vs79-MuiClockPointer-root {
    background: #f16a22 !important;
}
.css-eg3pzz-MuiClockPointer-thumb {
    background: #f16a22 !important;
    border: 16px solid #f16a22 !important;
}
.css-12t0dn4-MuiClockPointer-thumb {
    border: 16px solid #f16a22 !important;
}
.css-rdq5h4-MuiClockPointer-root {
    background: #f16a22 !important;
}
.pod_image {
    position: relative;
    transition: outline-color 0.3s ease;
    outline: 2px solid transparent;
}

.pod_image:hover {
    border-color: #fff; /* Change border color on hover */
    outline-color: #fff;
    cursor: pointer;
}
.card_container::-webkit-scrollbar {
    display: none !important;
}

.skeleton-loader {
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
    background-color: #e0e0e0;
    height: 20px;
    margin-top: 10px;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-color: #c1bfbf;
    }
    50% {
        background-color: #bfbbbb;
    }
    100% {
        background-color: #7e7d7d;
    }
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
